.page {
  background-image: var(--background-image);
  font-family: var(--main-font);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: 10px;
  min-height: 668px;
  height: 100vh;
  position: relative;
}

.header__theme-menu-button {
  color: var(--decorated-color, #FF0070);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 1.5px 13px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--decorated-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decorated-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.decorated-zone::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decorated-color);
  border-right: 1px solid var(--decorated-color);
  top: 10px;
  right: 10px;
}

.decorated-zone::before {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decorated-color);
  border-left: 1px solid var(--decorated-color);
  bottom:10px;
  left: 10px;
}

.rec {
  color: var(--decorated-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  position: absolute;
  right: 38px;
  top: 10px;
  visibility: var(--visibility);
}

.rec::before {
  position: absolute;
  content: '';
  width: 9px;
  height: 9px;
  background-color: var(--decorated-color);
  border-radius: 100%;
  box-shadow: 0 0 4px 2px var(--decorated-color);
  right: -19px;
  top: 8px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: end;
}

.header__title {
  color: var(--title-color, #DB00FF);
  font-family: var(--main-font);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--shadow-color, #FF0070);
}

.header__title-accent {
  color: var(--accent-title-color, #000028);
  font-family: var(--main-font,);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--accent-color, #FF0070);
  }

.title {
  color: var(--decor-title);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.accent__title {
  color: var(--accent-title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.text {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.main {
  padding: 40px 10px 40px 10px;
  display: grid;
  gap: 50px;
}

.section {
  display: grid;
  gap: 20px;
}

.list {
  display: grid;
  gap: 20px;
}

.accent__title {
  margin-bottom: 10px;
}

.thin__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.how__accent-title {
  margin-bottom: 0;
}

.how__text {
  margin-top: 10px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.pictures__list {
  display: grid;
  gap: 10px;
}

.footer {
  position: relative;
  padding: 10px 10px 10px;
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  color: var(--title-color, #DB00FF);
  font-family: var(--main-font);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
}

.text__link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}


  @media  (min-width: 768px) {
    .header {
      padding: 20px;
    }

    .header__title {
      margin-left: -20px;
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
      text-shadow: 2px 2px var(--shadow-color-second);
    }

    .header__title-accent {
      max-width: 364px;
      margin-left: auto;
    }


    .decorated-zone::after {
      top: 20px;
      right: 20px;
    }

    .decorated-zone::before {
      bottom: 20px;
      left: 20px;
    }

    .rec {
      right: 48px;
      top: 20px;
    }

    .rec::before {
      position: absolute;
      content: '';
      width: 9px;
      height: 9px;
      background-color: var(--decorated-color);
      border-radius: 100%;
      box-shadow: 0 0 4px 2px var(--decorated-color);
      right: -19px;
      top: 8px;
    }

    .main {
      padding: 60px 20px 60px 20px;
      gap: 80px;
    }

    .why__section {
      display: flex;
      gap: 20px;
    }

    .why__title {
      min-width: 236px;
    }

    .what__title {
      max-width: 236px;
    }

    .how__section {
      display: flex;
      gap: 20px;
    }

    .how__title {
      min-width: 236px;
    }

    .pictures__list {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      margin-top: 20px;
    }

    .image:nth-child(1) {
      grid-column: span 2;
    }

    .image:nth-child(2) {
      grid-row: span 2;
    }

    .image:nth-child(3) {
      grid-row: span 2;
    }

    .image:nth-child(5) {
      grid-column: span 2;
    }

    .footer__title {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
      text-shadow: 2px 2px var(--shadow-color-second);
    }
    
  }
    
  @media (min-width: 1024px) {

      .header__title {
        text-shadow: 4px 4px var(--shadow-color);
      }

    .header__title-accent {
      min-width: 491px;
      margin-left: auto;
    }

    .header__theme-menu {
      justify-self: center;
      align-self: start;
    }

    .header__theme-menu-list {
      flex-direction: row;
      justify-content: center;
      align-self: start;
      gap: 13px;
    }

    .why__title {
      min-width: 315px;
    }

    .what__title {
      max-width: 315px;
    }
 
    .what__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .how__title {
      min-width: 315px;
    }

    .footer__title {
      text-shadow: 2px 2px var(--shadow-color);
    }

  }